extraPorts: []

coreDnsOverrides: |
  rewrite stop {
    name regex (.*\.admin\.uds\.dev) admin-ingressgateway.istio-admin-gateway.svc.cluster.local answer auto
  }
  rewrite stop {
    name regex (.*\.uds\.dev) tenant-ingressgateway.istio-tenant-gateway.svc.cluster.local answer auto
  }

# Enable the following to use a custom gateway
# customGateway:
#   domainName: uds2.dev

passthrough:
  enabled: false
  subdomains: []
    # Add any passthrough subdomains here; items should be unique
    # e.g.,
    # - mysubdomain
    # - myothersubdomain
images:
  nginx:
    repository: quay.io/nginx/nginx-unprivileged
    # renovate: datasource=docker depName=quay.io/nginx/nginx-unprivileged versioning=docker
    tag: "1.29.5-alpine"
  busybox:
    repository: cgr.dev/chainguard/busybox
    tag: "latest"
  wolfiBase:
    repository: cgr.dev/chainguard/wolfi-base
    tag: "latest"
  pause:
    repository: registry.k8s.io/pause
    # renovate: datasource=docker depName=registry.k8s.io/pause
    tag: "3.10.1"
  localPathProvisioner:
    repository: rancher/local-path-provisioner
    # renovate: datasource=docker depName=rancher/local-path-provisioner
    tag: "v0.0.34"

metallb:
  ipAddressPool: "###ZARF_VAR_BASE_IP###.200-###ZARF_VAR_BASE_IP###.215"

nginx:
  enabled: true
