apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ .Release.Namespace }}
data:
  nginx.conf: |
    events {
        worker_connections  1024;
    }

    stream {
        map $ssl_preread_server_name $selected_upstream {
            hostnames;  
            *.admin.uds.dev backend_admin;
            keycloak.uds.dev backend_keycloak;
            *.uds.dev backend_tenant;
        }

        upstream backend_admin {
            server ###ZARF_VAR_BASE_IP###.200:443;
        }

        upstream backend_tenant {
            server ###ZARF_VAR_BASE_IP###.201:443; 
        }

        upstream backend_keycloak {
            server ###ZARF_VAR_BASE_IP###.202:443;
        }

        server {
            listen 443;
            proxy_pass $selected_upstream;
            ssl_preread on;
        }
    }

    http {
      # Redirect server block
      server {
          listen 80;
          server_name _;
          return 301 https://$host$request_uri;
      }
    }

    error_log /dev/stderr;

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nginx
  namespace: uds-dev-stack
spec:
  selector:
    matchLabels:
      name: nginx
  template:
    metadata:
      labels:
        name: nginx
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: nginx
          # This is a copy of the official nginx 1.25.3 image on GHCR to avoid rate limiting
          image: ghcr.io/defenseunicorns/oss/uds-k3d-nginx:alpine-1.25.3
          command: ["nginx", "-g", "daemon off;"]
          ports:
            - containerPort: 80
              hostPort: 20080
            - containerPort: 443
              hostPort: 20443
          volumeMounts:
            - name: config-volume
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: config-volume
          configMap:
            name: nginx-config
