name: Test UDS Airgap Capability

on:
  pull_request:
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [milestoned, opened, reopened, synchronize]
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - docs/**
      - .vscode/**
      - .gitignore
      - renovate.json
      - .codespellrc
      - .release-please-config.json
      - release-please-config.json
      - CODEOWNERS
      - LICENSE
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  build-package:
    name: Build Airgap Package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture: [amd64, arm64]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.20

      - name: Environment setup
        run: |
            echo "MARU_AUTH=\"{\"raw.githubusercontent.com\": \"${{ secrets.GITHUB_TOKEN }}\"}\"" >> "GITHUB_ENV"
            uds run actions:setup-environment \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        shell: bash

      - name: Create the airgap package
        run: uds run build-airgap-package --set ARCH=${{ matrix.architecture }}

      - name: Upload Airgap Package Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: airgap-package-${{ matrix.architecture }}
          path: ./zarf-package-uds-k3d-*.tar.zst
          retention-days: 1

  deploy-airgap:
    name: Deploy Airgap Package
    runs-on: ubuntu-latest
    needs: build-package # This job depends on the build-package job completing successfully
    strategy:
      matrix:
        architecture: [amd64] # Only test with amd64 for deployment

    steps:
      - name: Harden Runner - Block Egress
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com
            objects.githubusercontent.com
            api.github.com
            release-assets.github.com
            raw.githubusercontent.com

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download Airgap Package Artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: airgap-package-${{ matrix.architecture }}
          path: .

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          version: v0.27.1
      
      - name: Download Zarf Init Package
        run: |
          ZARF_VERSION=$(uds zarf version)
          curl -L https://github.com/zarf-dev/zarf/releases/download/${ZARF_VERSION}/zarf-init-amd64-${ZARF_VERSION}.tar.zst -o zarf-init-amd64-${ZARF_VERSION}.tar.zst

      - name: Install deps
        run: |
          uds run actions:install-deps
        shell: bash

      - name: Deploy the airgap package
        run: uds run deploy-airgap-package --no-progress
        shell: bash
      
      - name: Validate uds-k3d package
        run: |
          uds run validate-airgap --no-progress
        shell: bash

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output