name: Test UDS Capability

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "CODEOWNERS"
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  build-package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture: [amd64, arm64]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.9

      - name: Environment setup
        run: |
            echo "MARU_AUTH=\"{\"raw.githubusercontent.com\": \"${{ secrets.GITHUB_TOKEN }}\"}\"" >> "GITHUB_ENV"
            uds run actions:setup-environment \
            --set REGISTRY1_USERNAME="${{ secrets.IRON_BANK_ROBOT_USERNAME }}" \
            --set REGISTRY1_PASSWORD="${{ secrets.IRON_BANK_ROBOT_PASSWORD }}" \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
            --set CHAINGUARD_IDENTITY="${{ secrets.CHAINGUARD_IDENTITY }}"
        shell: bash

      - name: Create uds-k3d package
        run: uds run build --set ARCH=${{ matrix.architecture }} --no-progress
      
      - name: Upload Package Artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: package-${{ matrix.architecture }}
          path: ./zarf-package-uds-k3d-*.tar.zst
          retention-days: 1

  test-clean-install:
    runs-on: ubuntu-latest
    needs: build-package
    strategy:
      matrix:
        image: ["rancher/k3s"]
        version: ["v1.31.10-k3s1", "v1.32.6-k3s1", "v1.33.2-k3s1"]
        architecture: ["amd64"]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.9

      - name: Environment setup
        run: |
            uds run actions:setup-environment \
            --set REGISTRY1_USERNAME="${{ secrets.IRON_BANK_ROBOT_USERNAME }}" \
            --set REGISTRY1_PASSWORD="${{ secrets.IRON_BANK_ROBOT_PASSWORD }}" \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
            --set CHAINGUARD_IDENTITY="${{ secrets.CHAINGUARD_IDENTITY }}"
        shell: bash

      - name: Download Package Artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: package-${{ matrix.architecture }}
          path: .

      # Step is not currently being used, could be uncommented if custom image support is needed in the future
      # - name: Build the custom k3s image
      #   if: ${{matrix.image}} != "rancher/k3s"
      #   run: uds run build-image --set VERSION=${{matrix.version}} --no-progress

      - name: Create and deploy the uds-k3d package
        run: uds run deploy --set IMAGE_NAME=${{matrix.image}} --set VERSION=${{matrix.version}} --no-progress

      - name: Validate uds-k3d package
        run: uds run validate --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output
