name: Test UDS Capability

on:
  pull_request:
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [milestoned, opened, reopened, synchronize]
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - docs/**
      - .vscode/**
      - .gitignore
      - renovate.json
      - .codespellrc
      - .release-please-config.json
      - release-please-config.json
      - CODEOWNERS
      - LICENSE
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  build-package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture: [amd64, arm64]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.20

      - name: Environment setup
        run: |
            echo "MARU_AUTH=\"{\"raw.githubusercontent.com\": \"${{ secrets.GITHUB_TOKEN }}\"}\"" >> "GITHUB_ENV"
            uds run actions:setup-environment \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        shell: bash

      - name: Create uds-k3d package
        run: uds run build --set ARCH=${{ matrix.architecture }} --no-progress

      - name: Upload Package Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: package-${{ matrix.architecture }}
          path: ./zarf-package-uds-k3d-*.tar.zst
          retention-days: 1

  test-clean-install:
    runs-on: ubuntu-latest
    needs: build-package
    strategy:
      matrix:
        image: ["rancher/k3s"]
        version: ["v1.31.9-k3s1", "v1.32.5-k3s1", "v1.33.1-k3s1"]
        architecture: ["amd64"]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.20

      - name: Environment setup
        run: |
            uds run actions:setup-environment \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        shell: bash

      - name: Download Package Artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: package-${{ matrix.architecture }}
          path: .

      # Step is not currently being used, could be uncommented if custom image support is needed in the future
      # - name: Build the custom k3s image
      #   if: ${{matrix.image}} != "rancher/k3s"
      #   run: uds run build-image --set VERSION=${{matrix.version}} --no-progress

      - name: Create and deploy the uds-k3d package
        run: uds run deploy --set IMAGE_NAME=${{matrix.image}} --set VERSION=${{matrix.version}} --no-progress

      - name: Validate uds-k3d package
        run: uds run validate --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output
