name: Publish UDS Capability

on:
  push:
    branches:
      - main

jobs:
  
  # Run standard build tests first
  run-build-test:
    uses: ./.github/workflows/build-test.yaml
    permissions:
      id-token: write
      contents: read

  # Run airgap build tests
  run-airgap-build-test:
    uses: ./.github/workflows/airgap-build-test.yaml
    permissions:
      id-token: write
      contents: read

  # Only proceed to tag a new version if all tests pass
  tag-new-version:
    permissions: write-all
    needs: [run-build-test, run-airgap-build-test]
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create Release Tag
        id: tag
        uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4.2.0
        with:
          command: manifest # use configs in release-please-config.json
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-uds-package:
    needs: tag-new-version
    if: ${{ needs.tag-new-version.outputs.release_created == 'true'}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture:
          - arm64
          - amd64

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.4

      - name: Environment setup
        run: |
            echo "MARU_AUTH=\"{\"raw.githubusercontent.com\": \"${{ secrets.GITHUB_TOKEN }}\"}\"" >> "GITHUB_ENV"
            uds run actions:setup-environment \
            --set REGISTRY1_USERNAME="${{ secrets.IRON_BANK_ROBOT_USERNAME }}" \
            --set REGISTRY1_PASSWORD="${{ secrets.IRON_BANK_ROBOT_PASSWORD }}" \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
            --set CHAINGUARD_IDENTITY="${{ secrets.CHAINGUARD_IDENTITY }}"
        shell: bash

      - name: Download Airgap Package Artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: airgap-package-${{ matrix.architecture }}
          path: ./airgap-package
      - name: Download Standard Package Artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: package-${{ matrix.architecture }}
          path: ./standard-package

      - name: Publish the packages
        run: |
          uds zarf package publish ./airgap-package/zarf-package-uds-k3d-${{ matrix.architecture }}-*.tar.zst oci://ghcr.io/defenseunicorns/packages
          uds zarf package publish ./standard-package/zarf-package-uds-k3d-${{ matrix.architecture }}-*.tar.zst oci://ghcr.io/defenseunicorns/packages
