name: Publish UDS Capability

on:
  push:
    branches:
      - main

jobs:
  
  # Run standard build tests first
  run-build-test:
    uses: ./.github/workflows/build-test.yaml
    permissions:
      id-token: write
      contents: read

  # Run airgap build tests
  run-airgap-build-test:
    uses: ./.github/workflows/airgap-build-test.yaml
    permissions:
      id-token: write
      contents: read

  # Only proceed to tag a new version if all tests pass
  tag-new-version:
    permissions: write-all
    needs: [run-build-test, run-airgap-build-test]
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create Release Tag
        id: tag
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          command: manifest # use configs in release-please-config.json
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-uds-package:
    needs: tag-new-version
    if: ${{ needs.tag-new-version.outputs.release_created == 'true'}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture:
          - arm64
          - amd64

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.18

      - name: Environment setup
        run: |
            echo "MARU_AUTH=\"{\"raw.githubusercontent.com\": \"${{ secrets.GITHUB_TOKEN }}\"}\"" >> "GITHUB_ENV"
            uds run actions:setup-environment \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        shell: bash

      - name: Download Airgap Package Artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: airgap-package-${{ matrix.architecture }}
          path: ./airgap-package
      - name: Download Standard Package Artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: package-${{ matrix.architecture }}
          path: ./standard-package

      - name: Publish the packages
        run: |
          uds zarf package publish ./airgap-package/zarf-package-uds-k3d-${{ matrix.architecture }}-*.tar.zst oci://ghcr.io/defenseunicorns/packages
          uds zarf package publish ./standard-package/zarf-package-uds-k3d-${{ matrix.architecture }}-*.tar.zst oci://ghcr.io/defenseunicorns/packages
